.tabbar {
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border: 1px solid #ccc;
  padding: 5px 0;
  background: #ffffff;
}

.tabbar-content {
  display: flex;
}

.tabbar-item {
  flex: 1;
}
.iconfont {
  font-size: 28px;
}

.active {
  color: red !important;
}
