.select-country {
  height: 25vh;
}
.select-country .select-city li {
  width: 22%;
  float: left;
  line-height: 120%;
  display: inline;
  list-style: none;
  cursor: pointer;
  color: #999999;
  vertical-align: top;
}

.select-country .select-city li:hover {
  background-color: #349e5e;
  color: #fff;
}
