.select-country {
  overflow: hidden;
  padding: 10px 3px;
  /* padding-top: 0; */
  border-bottom: #ececec 1px dotted;
  margin-bottom: 10px;
}
.mb-5 {
  margin-bottom: 5px;
}
.select-city {
  height: 130px;
  overflow-y: auto;
}
.select-country .select-city li {
  width: 22%;
  float: left;
  line-height: 120%;
  display: inline;
  list-style: none;
  cursor: pointer;
  color: #999999;
  vertical-align: top;
}

.select-country .select-city li:hover {
  background-color: #349e5e;
  color: #fff;
}
